/* styles.css */
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%; /* Assurez-vous que html et body occupent 100% de la hauteur */
    margin: 0; /* Supprimez les marges par défaut */
}

body {
    background-color: #f8f9fa; /* Couleur de fond */
}

.d-flex {
    display: flex; /* Utilise le Flexbox pour le conteneur principal */
    height: 100vh; /* Définit la hauteur à 100% de la vue */
}

.sidebar {
    background-color: #14238A; /* Couleur de la barre latérale */
    height: 100vh; /* Assure que la barre latérale occupe toute la hauteur */
}

.sidebar h2 {
    color: white; /* Couleur du texte dans la barre latérale */
}

.table th {
    background-color: #14238A; /* Couleur de l'en-tête de tableau */
    color: white; /* Couleur du texte de l'en-tête de tableau */
}

.text-success {
    color: green; /* Couleur pour l'état actif */
}

.text-danger {
    color: red; /* Couleur pour l'état archivé */
}

.btn {
    margin-right: 5px; /* Espace entre les boutons */
}
