/* surveillant-list.css */

/* Couleur par défaut pour non payé (rouge) */
.bg-danger {
    background-color: #dc3545;
    color: white;
}

/* Couleur pour payé (vert) */
.bg-success {
    background-color: #28a745;
    color: white;
}

/* Bouton payer */
.payer-btn {
    cursor: pointer;
}

.payer-btn:disabled {
    cursor: not-allowed;
}
select#mois-select {
    margin-right: 10px;
    padding: 5px;
}